<ion-grid>
    <ion-row style="text-align: center;">
        <ion-col size="5" class="ion-align-self-center">
            <div class="border-contacto" style="width: 60%; float: right;"></div>
        </ion-col>
        <ion-col size="2" class="ion-align-self-center">
            <ion-icon class="colorContacto" name="star"></ion-icon>
        </ion-col>
        <ion-col size="5" class="ion-align-self-center">
            <div class="border-contacto" style="width: 60%; float: left;"></div>
        </ion-col>
    </ion-row>
</ion-grid>