.topleft {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 18pt;
    background: #fb04044d;
    border-radius: 100%;
}

.cuadro-relleno {
    width: 100vw;
    height: 3rem;
    border-radius: 25px 25px 0 0;
    margin-top: -3rem;
    z-index: 20;
    position: absolute;
}