<ion-content class="fondo">

    <ion-item lines="none" style="text-align: center; margin-top: 2rem;">
        <ion-label class="text-wrap direccion">
            <h1 class="colorContacto">Encuéntranos</h1>
        </ion-label>
    </ion-item>
    <app-separador-estrella></app-separador-estrella>
    <ion-item lines="none" style="text-align: center;">
        <ion-label class="text-wrap direccion">
            <div *ngIf="perfil">
                {{perfil.ubicacion.direccion}}
            </div>
        </ion-label>
    </ion-item>
    <agm-map *ngIf="perfil" style="height: 50vh" [latitude]="perfil.ubicacion.lat" [longitude]="perfil.ubicacion.lng" [streetViewControl]="false">
        <agm-marker [iconUrl]='{"url": icon,"scaledSize": {"height": 75, "width": 50}}' [latitude]="perfil.ubicacion.lat" [longitude]="perfil.ubicacion.lng" [animation]="'DROP'"></agm-marker>
    </agm-map>
</ion-content>