<ion-header>
    <ion-toolbar class="fondo">
        <ion-segment scrollable value="'todos'" *ngIf="pasillos.length > 0">
            <ion-segment-button (click)="resetProds()" class="ion-text-wrap segment-button" value="'todos'">
                Todos
            </ion-segment-button>
            <ion-segment-button (click)="resetProds(item.nombre)" [value]="item.nombre" *ngFor="let item of pasillos" class="ion-text-wrap segment-button" style="width: 100%">
                {{item.nombre}}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="fondo">
    <div [ngSwitch]="perfil.vista">
        <div *ngSwitchCase="'lista-img'">
            <app-lista-img [pasillos]="pasillos"></app-lista-img>
        </div>
        <div *ngSwitchDefault>output2</div>
    </div>
    <!-- <ion-card *ngFor="let item of pasillos; let i = index" class="main-card fondo-card" [style.display]="item.productos && item.productos.length > 0 ? 'initial' : 'none'">
        <ion-list-header class="encabezado">
            <ion-label class="comfortaa">{{item.nombre | titlecase}}</ion-label>
        </ion-list-header>
        <ion-card *ngFor="let prod of item.productos; let y = index" class="fondo-card">
            <ion-item style="--padding-start: 0" lines="none">
                <ion-grid>
                    <ion-row>
                        <ion-col size="8">
                            <ion-item lines="none">
                                <ion-label class="ion-text-wrap">
                                    <h2 class="nombre-prod">{{prod.nombre}}</h2>
                                    <h3 class="descripcion-prod">{{prod.descripcion}}</h3>
                                    <h2 class="precio-prod" *ngIf="prod.precio">{{prod.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}</h2>
                                </ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="4">
                            <div class="border radius10 shadow">
                                <preload-image [ratio]="{w: 1, h: .75}" [src]="prod.url">
                                </preload-image>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-card>
    </ion-card> -->

    <ion-item style="margin-top: 3rem; text-align: center;" *ngIf="noMore" lines="none">
        <ion-label color="medium">No hay más resultados</ion-label>
    </ion-item>

    <ng-container *ngIf="pasilloFiltro; else elseTemplate">
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataListaFiltrada($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ng-container>
    <ng-template #elseTemplate>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataLista($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ng-template>
</ion-content>