.card {
    // border: lightgray solid 0.25px;
    width: 28vw;
    max-width: 28vw;
    text-align: center;
    padding: .75rem;
    margin: 0rem;
    font-size: 11pt;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}

.product-name {
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}

.card-container {
    margin: auto;
    text-align: center;
    align-items: center;
}