<div [id]="item.nombre" *ngFor="let item of pasillos; let i = index; let first = first">
    <ion-item lines="none">
        <h6 class="ion-text-wrap comfortaa encabezado">{{item.nombre | titlecase}}</h6>
    </ion-item>
    <div class="card-container radius10 border">
        <div class="card" *ngFor="let prod of item.productos; let y = index">
            <div class="border radius10 shadow">
                <preload-image [ratio]="{w: 1, h: .75}" [src]="prod.url" class="radius10 shadow">
                </preload-image>
            </div>
            <div class="product-name">
                <h6 class="ion-text-wrap nombre-prod">{{prod.nombre}}</h6>
            </div>
            <span style="font-size: 13pt" class="precio-prod" *ngIf="prod.precio">
                        {{prod.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}
                    </span> <br>
            <span style="font-size: 12pt" class="precio-prod" *ngIf="prod.unidad">
                        {{prod.unidad}}
                    </span><br>
        </div>
    </div>
</div>