.card {
    text-align: center;
    margin: 0rem;
    font-size: 11pt;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}

.product-name {
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}

.card-container {
    margin: auto;
    text-align: center;
    align-items: center;
}